/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*
    padding-top: 50px;
    padding-bottom: 20px;
        */
    margin: 0;
    padding: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*
    padding-left: 15px;
    padding-right: 15px;
        */
    width: 302px;
    margin: 0 auto;
    padding: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.square{
    border: 2px solid red;
    width: 100px;
    height: 100px;
    font-size: 60px;
    align-content: center;
}

.board{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.board > .row:nth-child(2){
    border-top: 1px solid pink;
    border-bottom: 1px solid pink;
}

.board > .row > .cell:nth-child(2){
    border-left: 1px solid pink;
    border-right: 1px solid pink;
}

.form{
    display: flex;
}